In [5]:
import pymysql
import pandas as pd

# Open database connection
dbcon = pymysql.connect(
    host="localhost",
    user="rissan",
    password="rissan",
    database="demo")

try:
    SQL_Query = pd.read_sql_query(
        '''select
          Id,
          Name,
          Gender,
          Salary
          from employee''', dbcon)

    pdf = pd.DataFrame(SQL_Query, columns=['Id', 'Name', 'Gender', "Salary"])
    print(pdf)
    print('The data type of pdf is: ', type(pdf))


except:
    print("Error: unable to convert the data")

dbcon.close()

   Id  Name  Gender  Salary
0   1  Mark    Male    8000
1   2  John    Male    8000
2   3   Pam  Female    5000
3   4  Sara  Female    4000
4   5  Todd    Male    3500
5   6  Mary  Female    6000
6   7   Ben    Male    6500
7   8  Jodi  Female    4500
8   9   Tom    Male    7000
9  10   Ron    Male    6800
The data type of pdf is:  <class 'pandas.core.frame.DataFrame'>

In [6]:
from pyspark.sql import SparkSession

# Creating the SparkSession
spark = SparkSession.builder.appName('Test').master("local").getOrCreate()

In [7]:
# Create a Spark DataFrame from a Pandas DataFrame

df = spark.createDataFrame(pdf)
df.show()
print('The data type of df is: ', type(df))

+---+----+------+------+
| Id|Name|Gender|Salary|
+---+----+------+------+
|  1|Mark|  Male|  8000|
|  2|John|  Male|  8000|
|  3| Pam|Female|  5000|
|  4|Sara|Female|  4000|
|  5|Todd|  Male|  3500|
|  6|Mary|Female|  6000|
|  7| Ben|  Male|  6500|
|  8|Jodi|Female|  4500|
|  9| Tom|  Male|  7000|
| 10| Ron|  Male|  6800|
+---+----+------+------+

The data type of df is:  <class 'pyspark.sql.dataframe.DataFrame'>