In [1]:
a = []
print(type(a))

<class 'list'>

In [2]:
a = [10,20,30,40,50]
print(a)

[10, 20, 30, 40, 50]

In [3]:
a.append(60)
print(a)

[10, 20, 30, 40, 50, 60]

In [5]:
a.append("sreenivas")
print(a)

[10, 20, 30, 40, 50, 60, 'sreenivas']

In [6]:
q = ['btech','mtech','phd']
price = [100,200,300]
print(q)

['btech', 'mtech', 'phd']

In [8]:
wife = ('swathi',28,'hyd')
product = ('samsung',20000,'mobile',10)
print(wife)
print(product)

('swathi', 28, 'hyd')
('samsung', 20000, 'mobile', 10)

In [9]:
qual = {
'btech':2006,
'mtech':2008
}

print(qual)

{'btech': 2006, 'mtech': 2008}

In [11]:
prodlist = {
'p1':('tv',50000,10),
'p2':('laptop',70000,20),
'p3':('mobile',10000,3)
}
print(prodlist)

{'p1': ('tv', 50000, 10), 'p2': ('laptop', 70000, 20), 'p3': ('mobile', 10000, 3)}

In [18]:
for v in prodlist:
        print('key:',v)
        pinfo = prodlist[v]
        print(pinfo[0])
        print(pinfo[1])
        print(pinfo[2])
        print('*'*20)

key: p1
tv
50000
10
********************
key: p2
laptop
70000
20
********************
key: p3
mobile
10000
3
********************

In [20]:
sports = {
    2014 : ['cricket','kabadi'],
    2015 : ['cricket','hockey'],
    2016 : ['cricket','football','kabadi','indor games'],
    2017 : ['cricket','football'],
    2018 : ['cricket','kabadi']
}

for v in sports:
    print('year:',v)
    sport = sports[v]
    for v2 in sport:
        print(v2)
    print("@"*20)

year: 2014
cricket
kabadi
@@@@@@@@@@@@@@@@@@@@
year: 2015
cricket
hockey
@@@@@@@@@@@@@@@@@@@@
year: 2016
cricket
football
kabadi
indor games
@@@@@@@@@@@@@@@@@@@@
year: 2017
cricket
football
@@@@@@@@@@@@@@@@@@@@
year: 2018
cricket
kabadi
@@@@@@@@@@@@@@@@@@@@

In [26]:
sales = {
('branch1','p1'):[100,200,300],
('branch1','p2'):[200,700,500],
('branch2','p1'):[300,200,500],
('branch2','p2'):[100,200,300],
}

for v in sales:
    #print(v)
    for v2 in v:
        print(v2)
    qty = sales[v]
    #print(qty)
    for q in qty:
        print(q)
    
    print('*'*20)

branch1
p1
100
200
300
********************
branch1
p2
200
700
500
********************
branch2
p1
300
200
500
********************
branch2
p2
100
200
300
********************

In [27]:
a = [10,20,10,20,30,40,10]
print(a)

[10, 20, 10, 20, 30, 40, 10]

In [28]:
s = {10,20,10,20,30,40,10}
print(s)

{40, 10, 20, 30}

In [29]:
# first difference with set and list --- list allows duplicates and set does not allow duplicates

In [30]:
#list follows insertion order but set does not follow insertion order

In [36]:
s = {10,20,10,20,30,40,10,50,100,70}
for s1 in s:
    print(s1,id(s1))

100 140705451581344
70 140705451580384
40 140705451579424
10 140705451578464
50 140705451579744
20 140705451578784
30 140705451579104

In [ ]:
# Hashing mechanish to store elements