In [81]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import col
from pyspark.sql.types import StructType,StructField, StringType

# Creating the SparkSession
spark = SparkSession.builder.appName('Test').master("local").getOrCreate()

path = "C:\\Project\\Files\\Input\\json\\Sample-JSON_1.json"
df = spark.read.option("multiline", "true").json(path)

In [82]:
print(df)
df.show()
df.printSchema()

DataFrame[City: string, RecordNumber: bigint, State: string, ZipCodeType: string, Zipcode: bigint]
+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           1|   PR|   STANDARD|    701|
|       BDA SAN LUIS|           2|   PR|   STANDARD|    702|
|               null|           3|   PR|   STANDARD|    703|
|PASEO COSTA DEL SUR|           4|   PR|   STANDARD|    704|
|            Cuttack|           5|   PR|   STANDARD|    705|
|              Delhi|           6|   PR|   STANDARD|     12|
+-------------------+------------+-----+-----------+-------+

root
 |-- City: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

In [69]:
# Filtering the data where the City is null
# df.where(col("City").isNotNull()).show()
without_null_df = df.filter(df.City.isNotNull()).show()
#new_df.select("City").show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           1|   PR|   STANDARD|    701|
|       BDA SAN LUIS|           2|   PR|   STANDARD|    702|
|PASEO COSTA DEL SUR|           4|   PR|   STANDARD|    704|
|            Cuttack|           5|   PR|   STANDARD|    705|
|              Delhi|           6|   PR|   STANDARD|     12|
+-------------------+------------+-----+-----------+-------+

In [85]:
new_df.select("City").show()

+-------------------+
|               City|
+-------------------+
|PASEO COSTA DEL SUR|
|       BDA SAN LUIS|
|PASEO COSTA DEL SUR|
|            Cuttack|
|              Delhi|
+-------------------+

In [83]:
df.filter("City IS NOT NULL").count()

5

In [60]:
data_df.filter(col("City").contains("PASEO")).show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
+-------------------+------------+-----+-----------+-------+

In [100]:
# Creating a Temp View from the DataFrame
df.createOrReplaceTempView("records")

# sql_df = spark.sql("select max(Zipcode),City from records group by City order by City desc")
sql_df =spark.sql("select Zipcode,City from(select *, dense_rank() over(order by Zipcode desc)r from records) where r=1")
print(sql_df.show(1))

+-------+-------+
|Zipcode|   City|
+-------+-------+
|    705|Cuttack|
+-------+-------+

None

In [2]:
import numpy as np
import pandas as pd

# Creating the SparkSession
spark = SparkSession.builder.appName('Test').master("local").getOrCreate()

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Generate a Pandas DataFrame
pdf = pd.DataFrame(np.random.rand(100, 3))

# Create a Spark DataFrame from a Pandas DataFrame using Arrow
df = spark.createDataFrame(pdf)

# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
result_pdf = df.select("*").toPandas()

NameError: name 'SparkSession' is not defined